html {
    font-size: 100%; /* IE5 hack (http://www.clagnut.com/blog/348/#c790) */
}

body {
    font-size: 0.75em;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Verdana", "Geneva", "Arial", "sans-serif";
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    background-color: #eee;
    color: #333;
}

div#body {
    margin: 0 auto 0 auto;
    width: 700px;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

strong, b {
    color: #000;
    font-weight: bold;
}

/* START > generic styles */
h1 {
    font-size: 2.0em;
}

h2 {
    margin-top: 1.0em;
    margin-bottom: 1.0em;
    font-size: 2.0em;
}

h3 {
    font-size: 2.0em;
}

h4 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;    
    font-size: 1.25em;
}

h5 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;    
    font-size: 0.95em;   
    font-weight: normal;
    color: #bbb; 
}


.center {
    margin-left: auto;
    margin-right: auto;
}


/* START > global look styles */

h1.header {
    text-align: center;
    padding: 0;
    margin: 0;
    height: 72px;
    background: url(http://media.liquidx.net/img/titlebar_dark.png) no-repeat top left;
}

h1.header span {
    display: none;
}    

h2 {
    color: #000;
    padding-left: 30px;
}

a { 
    color: #339;
    border: 0;
    text-decoration: none;
}


/* site controls */

div.menu {
   background-color: #57769d;
   height: 24px;
   margin: 0;
   padding: 0;
   padding-left: 15px;
   vertical-align: bottom;
   font-size: 11px;
   text-shadow: #000 2px 2px 1px;
}


ul#menu, ul#menu li {
    list-style-type: none;
    display: inline;
    padding: 0;
    margin: 0;
}

ul#menu li a,
ul#menu li a:link,
ul#menu li a:visited {
    text-decoration: none;
    text-align: center;
    float: left;
    display: block;
    width: 70px;
    height: 21px;
        
    padding-top: 3px;
    padding-bottom: 0;
    margin: 0;

    background: transparent;
    color: #f0f0f0;
}

ul#menu li a:hover {
    background-color: #203040;
    color: #fff;
    text-shadow: #fff 1px 1px 1px;
}

ul#menu li a:active {
    background-color: #2e496a;
}

ul.blog li#blog a, 
ul.code li#code a, 
ul.dev li#dev a, 
ul.photos li#photos a, 
ul.research li#research a, 
ul.gentoo li#gentoo a, 
ul.links li#links a, 
ul.stats li#stats a, 
ul.status li#status a, 
ul.about li#about a  {
    color: #fff;
    background-color: #cccccc;
}


/* pager controls */
div.pager {
    background-color: #cccccc;
    font-size: 11px;
    /*text-shadow: #135 2px 2px 1px;    */
    color: #69b;
    
    position: relative;
    width: 100%;
    height: 21px;
    padding: 0;
    padding-top: 3px;
    text-align: center;
    vertical-align: middle;
    clear: both;
	border: 0;
	margin: 0;
}

div.pager a {
    text-decoration: none;
    color: #eee;
}

div.pager a:hover {
    color: #fff;
}

div.pager span.disabled {
    color: #eee;
}

/* blog entries */

div.blog-entry {
    margin-top: 10px;
    padding: 10px 50px 10px 50px;
    /*background: url(http://media.liquidx.net/img/headline_bottom.png) bottom no-repeat;*/
    clear: both;
    
    border-bottom: 1px dashed #999;
}


div.blog-entry h3 {
    margin-bottom: 2px;
    font-weight: bold;
    color: #000;
}

h3 a,
h4 a,
h5 a {
    color: inherit;
    border: 0;
    text-decoration: none;
}

h3 a:hover,
h4 a:hover,
h5 a:hover {
    text-decoration: underline;
}

.blog-body a,
.blog-body a:visited,
.blog-body a:active,
.page a,
.page a:visited,
.page a:active,
.blog-footer a,
.blog-footer a:visited,
.blog-footer a:active {
    text-decoration: underline;
}

.blog-body a:hover,
.page a:hover,
.blog-footer a:hover {
    color: #333;
}

.blog-footer {
    text-align: right;
    padding-top: 10px;
}

.blog-entry img {
    padding: 3px;
    border: 1px solid #ccc;
    margin: 3px auto 3px auto;
}

div.headline {
    border-bottom: #ddd;
/*    padding: 5px 30px 20px 30px;
    background: url(http://media.liquidx.net/img/headline_top.png) top no-repeat; */
}

h3#headline {
    font-weight: bold;
    margin-left: 10px;
}

/* quick blocks */

div.blocks {
    padding: 0 10px 0 10px;
    margin: 10px 0 20px 0;
}

div.block {
    border: 1px solid #e0e0e0;
    float: left;
    width: 200px;
    margin-left: 15px;
    font-size: 10px;
    overflow: hidden;
}

div.block h3 {
    margin: 0;
    padding: 2px;
    color: #333;
    text-align: center;
    background-color: #e0e0e0;
    border-bottom: 1px solid #ccc;
    font-size: 1.0em;
}

div.block .block-body {
    padding: 10px;
    color: #aaa;
}

div.block .block-footer {
    padding: 5px;
    text-align: right;
    background-color: #f0f0f0;
}

div.block .block-footer a {
    color: #666;
    text-decoration: none;
}    

div.block .block-link {
    margin-bottom: 3px;
}

div.block .block-link a {
    text-decoration: none;
    color: #66a;
}

div.block .block-link a:hover {
    text-decoration: underline;
}

div.block .block-link .block-tags {
    color: #999;
}

div.block .block-link .block-date {
    color: #bbb;
}

div.blocks-end {
    margin: 5px;
    padding: 5px;
    padding-left: 50px;
    color: #aaa;
    font-size: medium;
    clear: both;
    border-bottom: 1px solid #ccc;
}

/* status */

span.status {
    color: #666;
}


/* footer */

div.footer {
    font-size: 10px;
    padding: 5px;
    margin: 0;
    color: #ddd;
    background-color: #469;
    text-align: center;
    clear: both;
}

div.footer a {
    text-decoration: none;
    color: #fff;
}

div.footer a:hover {
    text-decoration: underline;
}

img.feed {
    width: 48px;
    height: 16px;
    vertical-align: middle;
}    

#technorati {
    display: inline;
}

p#te_l {
    display: inline;
    font-size: 10px;
}

p#te_lo {
    display: none;
}

/* pages */



.page {
    margin-left: 40px;
    margin-right: 40px;   
}

/* comments */

.comments {
    margin-left: 40px;
    margin-right: 40px;   
}

div.comment-form {
    border: 1px solid #ffffee;
    color: #999;  
    background-color: #ffffd0;  
    padding: 20px;
    margin: 20px;
}

table.comment-form td {
    padding: 5px;
    vertical-align: top;
    font-size: 1.0em;
}

table.comment-form td.label {
    text-align: right;
    color: #666;
}

table.comment td.field input {
    background-color: #fffff0;
}


.comment {
    border: 1px solid #ffffee;
    color: #999;  
    background-color: #ffffd0;  
    margin: 20px;
    padding: 20px;
}

.verified {
    border: 1px solid #ffffd0;
    color: #333;  
    background-color: #fffff0;  

}

.comments h3 {
    color: #999;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 1.5em;
}

.comment-who {
    font-size: large;
    color: #900;
}

.comment-reg {
    font-size: x-small;
    color: #966;
}

.comment-date {
    color: #aaa;
}

.comments .comment-meta {
    margin: 5px;
}

/* project pages */
.proj-list, .proj-header, .proj-footer {
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	width: 512px;
	color: #666;
}

.proj-list {
	background: url(http://media.liquidx.net/img/sw_bg.png) repeat-y top left;
}

.proj-header {
	margin-bottom: -4px; /* TODO: for some reason, height = 69px but image = 64px? */
}

.proj-list ul {
	padding: 32px;	
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0;
}

.proj-list li {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 5px;
}

.proj-list li p {
	margin-left: 63px;
}

.proj-list p.meta {
	color: #999;
}

.proj-list h4 { 
	padding: 0;
	font-size: x-large;
	color: #000;
	
}

.proj-list h4 a,  .proj-list h4 a:visited  {
	text-decoration: none;
}

.proj-list h4 a:hover {
	text-decoration: underline;
}

.proj-list h4 img {
	margin: 5px;
	margin-right: 10px;
	vertical-align: middle;
}


/* error pages */

.error {
    padding: 40px;
}

/* status page */

table.status, div.explain {
    margin: 10px 40px 10px 40px;
    color: #777;
}

table.status td {
    padding: 4px;
    margin: 2px;
}

table.status td.label {
    font-weight: bold;
    background-color: #f0f0f0;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    text-align: right;
}

/* stats */

#stats-control {
    margin-top: 20px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;    
}

#stats-controls-query li { 
    display: inline;
    padding: 4px;
    margin: 0;
    margin-left: 1px;
}

table.stats {
    width: 400px;
    padding: 0;
    overflow: hidden;
}

table.stats td {
    padding: 3px;
    margin: 0;
    border: 0;
}

table.stats tr {
    padding: 0;
    margin: 0;
}

table.stats thead td {
    font-weight: bold;
    color: #336;
    border-top: 1px solid #dde;
    background-color: #eef;
    border-bottom: 1px solid #dde;        
}

table.stats tbody td {
    border-bottom: 1px solid #eee;
}

table.stats tr.expandable {
    background-color: #ffe;
}

table.stats tr.child td {
   padding-left: 20px;
}

/* links page */

div#addlink {
    margin: 20px;
    padding: 20px;
    background-color: #ffffcc;
    border: 1px solid #ffff99;
}

#addlink table {
    margin-left: auto;
    margin-right: auto;
}

#addlink tr.field td {
    margin-bottom: 5px;
    padding: 5px;
}

#addlink td.label {
    text-align: right;
    vertical-align: middle;
    font-weight: bold;
    color: #333333;
}

#addlink td.buttons {
    padding-top: 15px;
    padding-left: 75px;
}

#addlink input[type=text], #addlink textarea {
    color: #666;
    border: 1px solid #aaa;
    padding: 2px;
    width: 400px;
}



.links-header, .message {
    margin: 10px 20px 10px 20px;
    background-color: #eef;
    border: 1px solid #ddf;
    padding: 5px 10px 5px 10px;
}

#links-page a {
    text-decoration: none;
}

#links-page {
    padding: 20px;
    clear: both;
}

#link-tags {
    width: 200px;
    float: right;
    border: none;
    font-size: 10px;
    padding: 10px;
    margin-left: 5px;
    border-left: 1px solid #eee;
}

#link-list {
    color: #666;
}

.link-item {
    padding: 10px;   
}

.link-tags a {
    text-decoration: none;
}

.link-tags a:hover {
    text-decoration: underline;
}

.link-tags a#tags-toggle {
    color: #f00;
}

#link-list a {
    text-decoration: none;
} 

#link-list .link a {
    font-size: medium;
    font-weight: bold;
}

#link-list a:hover {
    text-decoration: underline;
} 

#link-list .tags,
#link-list .date,
#link-list .tags a {
    font-size: small;
    color: #aaa;
}


a.tag-rare {
    color: #faa;
}

/* flists.com style overrides */

.flist-inc h3 {
    display: none;
}

.flist-inc ul {
    margin: 0;
    margin-left: 10px;
    padding: 0;
}

.flist-inc li {
    list-style: none;
}

.flist-inc p {
    margin: 0;
}

/* form styles */


td.error input {
    background-color: #fdd;
}

td.error {
    color: #f00;
}

td.required { 
    color: black;    
    font-weight: bold;
}

/* google ads style */
.ad {
    width: 468px;
    margin: 20px auto 20px auto;
}

/* last rule */

a img {
    border: 0;
}

.invisible { display: none; }
