body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
}
textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
}
h1 {
   text-align: center
}
h6 {
	font-size: small;
	font-weight: bold;
	color: #FF0066;
}
em {
	font-weight: bold;
	color: #6666CC;
	font-style: normal;
}
th {
	border: 1px solid #EEE;
	background: #FAFAFA;
}
td {
	border: 1px solid #EEE;
	padding: 0 0.5em;
	vertical-align: top;
}
table {
	border-collapse: collapse;
	width: 100%;
	margin: 0px auto;
}

select {
    font-size: x-small;
    cursor: pointer}
input.button{
    font-size: x-small;
    margin:  0px;
    padding: 1px 3px 1px 3px}
input.checkbox {
    margin: 0px}
input.radio {
    margin: 0px;
    padding: 0px}
input.text {
    padding: 1px 3px 1px 3px;
    font-size: x-small}
.invisible {
    display: none}
