/* css file for The Harvard All-sky Optical SETI User Interface web page */

/* begin COLORS -  backgrounds  */
body {                background-color: #555555}
div#container_outer {  background-color: #000000}
div#container_inner {  background-color: #000000}
div#interpreter_area { background-color: #CCCCCC}

div.panel {            background-color: #AAAAAA}
div.panelTitle {       background-color: #888888}
input.textbox:focus {   background-color: #FFFEE3}
/* begin COLORS - borders  */
div#container_outer { border:      solid #AAAAAA 2px}
div#container_inner { border-top:  solid #AAAAAA 2px;
                     border-left: solid #AAAAAA 2px}
/* begin COLORS - fonts */
div#body {            color: #FFFFFF}
.topTitle {          color: #FF3300}
.topTitleAccent {    color: #FF1100}
.topCategory {       color: #FF3300}
.topItem {           color: #777777}
.topEnabled {        color: #FFFFFF}
.menuCategory {      color: #0033FF}
.menuItem a:link, 
.menuItem a:visited, 
.menuItem a:active, 
.menuItem a:hover {   color: #777777}
.menuItem {          color: #777777}
.panelShown a:link, 
.panelShown a:visited, 
.panelShown a:active, 
.panelShown a:hover { color: #FFFFFF}
div.panelTitle {      color: #0033FF}
/* end COLORS */

/* begin BODY */
body {
    font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
    font-weight: normal}
/* end BODY */
    
/* begin CONTAINERS  */
div#container_outer {
    margin: 0 auto;
    width: 1230px;
    text-align: right}

div#container_inner {
    position: relative;
    left:           166px;
    width:         1062px;
    min-height:     900px;
    padding-bottom:  10px;
    margin-top:     115px;
    text-align: left}
/* end CONTAINERS  */
    
/* begin SIDE TOOLBAR  */
div#toolbar_side {
    position: absolute;
    width:      150px;
    margin-top: 115px;
    padding:      7px;
    font-weight: bold;
    text-align:  left}
div#toolbar_side ul {
    margin-left:   10px;
    margin-bottom: 15px;
    margin-top:     0px;
    padding:        0px;
    font-size:   small;
    white-space: nowrap}
div#toolbar_side li {
    list-style-type: none}
div#toolbar_side a {
    text-decoration: none}

.menuCategory {
    font-variant: small-caps;
    font-weight: bold}
.menuItem a:link, 
.menuItem a:visited, 
.menuItem a:active, 
.menuItem a:hover {
    font-weight:     normal;
    font-size:       small;
    text-decoration: none}
.menuItem {
    padding: 3px;
    font-weight: normal;
    font-size:   small}
.panelShown a:link, 
.panelShown a:visited, 
.panelShown a:active, 
.panelShown a:hover {
    font-weight: bold}
/* end SIDE TOOLBAR  */

/* begin TOP TOOLBAR  */
div#toolbar_top {
    position: absolute;
    margin-left: 166px;
    width:      1064px}
div#toolbar_top table {
    width: 100%;
    margin:      0px;
    padding-top: 0px;
    font-size: small}

.topTitle {
    padding-bottom: 2px;
    padding-top:    2px;
    font-family: Verdana;
    font-size: x-large;
    font-weight: normal;
    font-stretch: ultra-expanded;
    font-variant: small-caps}
.topCategory {
    font-size: medium;
    font-variant: small-caps;
    font-weight: bold}
.topItem {
    padding: 2px}
.topEnabled {
    font-weight: bold}
/* end TOP TOOLBAR  */

/* begin PANELS  */
div.panel {
    margin: 10px;
    font-size: small}
div.panelInvisible {
    display: none}
div.panelTitle {
    width: 1029px;
    font-weight: bold;
    font-size: small;
    padding: 3px;
    padding-left: 10px;
    margin-bottom: 5px}
div.panelContent {
    margin: 5px}
div#_MochiKit_LoggingPane {
    position: static}
.invisible {
    display: none}
/* end PANELS  */

/* start JavaScript Interpreter  */  
input.textbox {
    font-family: Monaco, "lucida console", Courier;
    border: 1px solid #CCCCCC;
    font-size: 0.8em; 
    padding: 2px 4px;
    margin-top: 0.3em;
    width: 1000px}
div#interpreter_area {
    display: block;
    border: 1px solid #CCCCCC;
    padding: 2px 4px;
    margin-top: .3em;
    width: 1000px;
    height: 200px;
    overflow: auto}
div#interpreter_output {
    display: inline;
    font-family: Monaco, "lucida console", Courier;
    font-size: 0.8em}
/* end JavaScript Interpreter  */  