/* css file for The Harvard All-sky Optical SETI User Interface web page */

/* start COLORS -  backgrounds  */
body {
    background-color: #313439}
div#container_outer { 
    background-color: #000000}
div#container_inner {  
    background-color: #000000}
div#interpreter_area { 
    background-color: #CCCCCC}
div.panel {
    background-color: #313439}
div.panelTitle {
    background-color: #545A65}
div.progressbar_inner {
    background-color: #545A65}
.smallbutton { 
    background-image: url(/static/images/titlebg.gif)}
.smallbutton_depressed{
    background-image: url(/static/images/titleDepressedbg.gif)}
select {
    background-color: #313439}
input.smallinput {
    background-color: #545A65}
input.textbox:focus {
    background-color: #FFFEE3}
table.datagrid thead th { 
    background-color: #545A65}
table.datagrid thead th.over ,
table.datagrid tr.over {
    background-color: #9FAABF}
 
/* start COLORS - borders  */
div#container_outer { 
    border: solid #545A65 2px}
div#container_inner { 
    border-top:  solid #545A65 2px;
    border-left: solid #545A65 2px}
.smallbutton {
    border-top:    2px solid #545A65;
    border-right:  2px solid #2B2D31;
    border-bottom: 2px solid #2B2D31;
    border-left:   2px solid #545A65}
.smallbutton_depressed {
    border-top:    2px solid #2B2D31;
    border-right:  2px solid #545A65;
    border-bottom: 2px solid #545A65;
    border-left:   2px solid #2B2D31}
select {
    border: 1px solid #545A65}
input.smallinput {
    border: 1px solid #2B2D31}
input.textbox {
    border: 1px solid #CCCCCC}
.progressbar_outer {
    border: 2px solid #222325}
div#interpreter_area {
    border: 1px solid #CCCCCC}
table.datagrid tbody td, 
table.datagrid tbody th {
    border-bottom: 1px solid #545A65}

/* start COLORS - fonts */
div#body { 
    color: #FFFFFF}
.topTitle { 
    color: #113FBF}
.topTitleAccent { 
    color: #113FBF}
.topCategory { 
    color: #113FBF}
.topItem { 
    color: #545A65}
.topEnabled { 
    color: #9FAABF}
.menuCategory {
    color: #113FBF}
.menuItem a:link, 
.menuItem a:visited, 
.menuItem a:active, 
.menuItem a:hover { 
    color: #545A65}
.menuItem { 
    color: #545A65}
.panel { 
    color: #C6C6C6}
.panelShown a:link, 
.panelShown a:visited, 
.panelShown a:active, 
.panelShown a:hover { 
    color: #9FAABF}
.smallbutton { 
    color: #C6C6C6}
.smallbutton_depressed { 
    color: #00BB00}
div.panelTitle a:link, 
div.panelTitle a:visited, 
div.panelTitle a:active, 
div.panelTitle a:hover { 
    color: #0A246A}
div.panelTitle { 
    color: #0A246A}
select {
    color: #C6C6C6}
div#interpreter_area { 
    color: #000000}
input.smallinput {
    color: #C6C6C6}	
table.datagrid thead th { 
    color: #FFFFFF}
table.datagrid tr.over {
    color: #FFFFFF}
div#event_view_status_text {
    color: #BB0000}
/* end COLORS */

/* start BODY */
body {
    font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
    font-weight: normal}
/* end BODY */
    
/* start CONTAINERS  */
div#container_outer {
    margin: 0 auto;
    width: 1230px;
    text-align: right}

div#container_inner {
    position: relative;
    left:           166px;
    width:         1062px;
    min-height:     800px;
    padding-bottom:  10px;
    margin-top:     115px;
    text-align: left}
/* end CONTAINERS  */
    
/* start SIDE TOOLBAR  */
div#toolbar_side {
    position: absolute;
    width:      150px;
    margin-top: 115px;
    padding:      7px;
    font-weight: bold;
    text-align:  left}
div#toolbar_side ul {
    margin-left:   10px;
    margin-bottom: 15px;
    margin-top:     0px;
    padding:        0px;
    font-size:   small;
    white-space: nowrap}
div#toolbar_side li {
    list-style-type: none}
div#toolbar_side a {
    text-decoration: none}

.menuCategory {
    font-variant: small-caps;
    font-weight: bold}
.menuItem a:link, 
.menuItem a:visited, 
.menuItem a:active, 
.menuItem a:hover {
    font-weight:     normal;
    font-size:       small;
    text-decoration: none}
.menuItem {
    padding: 3px;
    font-weight: normal;
    font-size:   small}
.panelShown a:link, 
.panelShown a:visited, 
.panelShown a:active, 
.panelShown a:hover {
    font-weight: bold}
/* end SIDE TOOLBAR  */

/* start TOP TOOLBAR  */
div#toolbar_top {
    position: absolute;
    margin-left: 0px;
    width:      1230px}
div#toolbar_top table {
    width: 100%;
    margin:      0px;
    padding-top: 0px;
    font-size: small}
table.topToolbar {
    padding: 0px;
    border:  0px}
table.topToolbar tr{
    padding: 0px;
    border:  0px}
table.topToolbar td{
    padding: 0px;
    border:  0px}

.topTitle {
    padding-bottom: 2px;
    padding-top:    2px;
    font-family: Verdana, sans-serif;
    font-size: x-large;
    font-weight: normal;
    font-stretch: ultra-expanded;
    font-variant: small-caps;
    text-align: center}
.topCategory {
    font-size: medium;
    font-variant: small-caps;
    font-weight: bold}
.topItem {
    padding: 2px}
.topEnabled {
    font-weight: bold}
/* end TOP TOOLBAR  */

/* start PANELS  */
div.panel {
    margin: 10px;
    font-size: small}
div.panelInvisible {
    display: none}
div.panelTitle {
    font-weight: bold;
    width: 1029px;
    padding-top:    3px;
    padding-bottom: 3px;
    padding-right:  3px;
    padding-left:  10px;
    margin-bottom:  5px}
div.panelTitle a {
    text-decoration: none}
table.panelTitle {
    width:1025px}
div.panelContent {
    margin: 5px}
div#_MochiKit_LoggingPane {
    position: static}
table.program {
    border-collapse: collapse;
    font-size: x-small;
    padding: 0px;
    border:  0px}
table.program tr{
    padding: 0px;
    border:  0px}
table.program th {
    font-weight: bold;
    text-decoration: underline}
ol.program {
    font-size: x-small;}
.smallbutton, .smallbutton_depressed{
    font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
    font-size: x-small;
    margin:  0px;
    padding: 1px 3px 1px 3px}
select {
    font-size: x-small;
    cursor: pointer}
input.checkbox {
    margin: 0px}
input.radio {
    margin: 0px;
    padding: 0px}
input.smallinput {
    padding: 1px 3px 1px 3px;
    font-size: x-small}
div.progressbar_outer {
    width: 300px;
    height: 20px}
div.progressbar_inner {
    height: 20px}
.invisible {
    display: none}
/* end PANELS  */

/* start JavaScript Interpreter  */  
input.textbox {
    font-family: Monaco, "lucida console", Courier, monospace;
    font-size: 0.8em; 
    padding: 2px 4px;
    margin-top: 0.3em;
    width: 1000px}
div#interpreter_area {
    display: block;
    padding: 2px 4px;
    margin-top: .3em;
    width: 1000px;
    height: 200px;
    overflow: auto}
div#interpreter_output {
    display: inline;
    font-family: Monaco, "lucida console", Courier, monospace;
    font-size: 0.8em}
/* end JavaScript Interpreter  */  

/* start event table  */  
table.datagrid {
    border-collapse: collapse}
table.datagrid thead th { 
    text-align: left;
    background-repeat: no-repeat;
    font-weight: bold;
    padding: .3em .7em;
    font-size: small;
    padding-right: 5px;
    background-repeat: no-repeat;}
table.datagrid thead th.over {
    cursor: pointer;}
table.datagrid tr.over {
    cursor: pointer;}
table.datagrid tbody th {
    font-weight: bold;}
table.datagrid tbody td, table.datagrid tbody th {
    font-size: x-small;
    text-align: left;
    padding: 0em .3em 0em .7em}
div#event_view_event_filter {
    max-height:116px; /*  max-height.event_filter = max_height.events - 48px */
    overflow:auto}
div#event_view_event_table {
    max-height:164px; /*  max-height = 24 + 14*table_rows */
    overflow:auto}
div#event_view_event_details {
    max-height:164px; /*  max-height = 24 + 14*table_rows */
    overflow:auto}
.mochi-template { 
    display: none; }
.mochi-example { 
    display: none; }
/* end event table  */  